.main{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form{
  gap: 10px;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.input{
  padding: 20px;
  background-color: transparent;
  color: #bbb;
  border-radius: 5px;
  border: 1px solid #bbb;
  font-weight: bold;
  font-size: 20px;
}

.btn{
  padding: 20px;
  width: 300px;
  font-weight: bold;
  background-color: #53c28b;
  color: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}