.container{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    /* align-items: center; */
}
.posts{
    flex: 1;
    /* align-items: center; */
    /* justify-content: space-between; */
    margin: 50px 0px;
}

.post{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #bbb;
    padding: 20px 10px;
    margin: 20px 0px;
    border-radius: 5px;
}
.img_container{
    width: 200px;
    height: 100px;
    position: 0;
}
.img{
    object-fit: cover;
}
.delete{
    cursor: pointer;
    color: red;
}
.new{
    flex: 1;
    display: flex;
    flex-direction: column;

}
.create_post{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input{
    padding: 10px;
    background-color: transparent;
    border: 2px solid #bbb;
    border-radius: 3px;
    color: #bbb;
    font-size: 20px;
    font-weight: bold;
}
.btn{
    padding: 20px;
    border: none;
    background-color: #53c28b;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}